#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  max-width: 248px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.card h1 {
  font-weight: 700;
  font-size: 20px;
}

img {
  /* padding: 12px; */
  max-width: 248px;
}

.read-the-docs {
  color: #888;
}
